@{
    ViewBag.Title = "Contactanos";
}
<h2>@ViewBag.Title.</h2>

<address>
    Instituto Tecnológico de Roque<br />
    Celaya, Guanajuato, Roque<br />
    <abbr title="Phone">P:</abbr>
    (461) - 615 - 4866
</address>

<address>
    ADM Jorge Alexandro Vázquez Ávila<br />
    Celaya, Guanajuato<br />
    <abbr title="Phone">P:</abbr>
    (461) - 189 - 5858
</address>

<address>
    ADM Alejandro Zazueta<br />
    Apaseo, Guanajuato<br />
    <abbr title="Phone">P:</abbr>
    (461) - 648 - 8295
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>