@model IEnumerable<RegistroJugadores.Models.JugadorXEquipo>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Registro Jugadores de la Liga Mexicana de Futbol</h1>
    <p class="lead">Esta pagina esta enfocada en dar a conocer a ustedes los Jugadores de la Liga Mexicana de Futbol, sus nacionalidades y a los equipos que pertenecen.</p>
    <p><a href="http://localhost:55305/Home/About" class="btn btn-primary btn-lg">Ver más información &raquo;</a></p>
    <p><a href="http://localhost:55305/Home/Contact" class="btn btn-primary btn-lg">Contactanos &raquo;</a></p>
</div>

<div class="row">
    @{
        var i = 1;
        foreach (var entrada in Model)
        {
            if (i == 4)
            {
                @:</div>
                @:<div class="row">
            }
            i += 1;
            <div class="col-md-4">
                <h2> @Html.ActionLink(entrada.NomJugador, "DetalleJugador", "Jugadores", new { id = entrada.JugadorID }, null)</h2>
                @*@foreach (var item in Model)
    {
        <img src="~/Imagenes/@item.Foto" width="100">
    }*@
                <p>
                    @entrada.NomEquipo
                </p>
                <p>
                    @entrada.Edad Años
                </p>
                <p class="btn btn-default">@Html.ActionLink("Ver Detalle del Jugador", "DetalleJugador", "Jugadores", new { id = entrada.JugadorID }, null)</p>
            </div>
        }
    }

    <div class="col-md-4">
            <h2>EQUIPOS</h2>
            <p>Aquí les mostramos los equipos que pertenecen a la primera división profesional de Futbol en la Liga Mexicana.</p>
            <p><a class="btn btn-default" href="http://localhost:55305/Equipos">Ver Equipos &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>POSICIONES</h2>
            <p>Son las posiciones existentes, con sus respectivos nombres y son las que se utilizan en las alineaciones de los partidos.</p>
            <p><a class="btn btn-default" href="http://localhost:55305/Posiciones">Ver Posiciones &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>NACIONALIDADES</h2>
            <p>Mostramos las diferentes nacionalidades existentes de cada jugador de la Liga Mexicana de Futbol</p>
            <p><a class="btn btn-default" href="http://localhost:55305/Nacionalidades">Ver Nacionalidades &raquo;</a></p>
        </div>
</div>